@import 'partials/variables';


//ZOMBIE SECTION
.zombieLogo2 img {
    width: 10%;
}

.zombieSection{
background-color: black;
padding-top: 10px;
}

.buttonText, .titleImage, .titleImageZombie {
    display:inline-block;
    vertical-align: middle;
    // border:2px solid red;
}


.zombieSection h1 {
text-align: center;
font-size: 5rem;
font-family: $titleFontFamily;
margin: 0px;
padding-top: 20px;
color: $backgroundColor
}

.zombieList{
width: 100%;
display: flex;
flex-direction: row;
margin: auto;
margin-top:30px;
}

.zombieWrapper h2 {
font-family: $titleFontFamily;
text-align:center;
font-size: 3rem;
color: black;
}

.zombieWrapper{
font-family: $bodyFontFamily;
background-color: white;
width: calc(100% - 20%);
margin:0px 20px 0px 20px;
border: 2px solid black;
padding-bottom:30px;
padding-bottom:20px;
    img {
        width:12rem;
        margin:auto;
        padding-bottom:10px;
    }
}

.zombieWrapper span{
font-weight:bold;
font-size: 1.5rem;
text-align:center;
padding-bottom:20px;
text-align:center;
}

.zombieWrapper p{
display:flex;
flex-direction:column;
padding: 30px;
}

.zombieWrapper2 {
text-align:center;
font-weight:bold;
background-color: white;
display: flex;
flex-direction: row;

    img {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;

    }
}

.ZombieButton {
border: 2px solid black;
background-color: lightpink;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:40%;
margin:auto;
}

.zombieList2 {
background-color: white;
margin:0px 20px 0px 20px;
padding-top:5px;
width: calc(100% - 20%);
    img {
    display: flex;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom:30px;
    }
}

.zombieList2 h2{
font-family: $titleFontFamily;
text-align:center;
font-size: 3rem;
color:black;
}

.ZombieButton2 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
padding: 15px 15px;
font-size: 2rem;
border: 2px solid black;
font-family:'Bangers', cursive;
background-color: white;
margin-top:20px;
    p {
        text-align: center;
    }
}

@media (max-width: 940px) {
 }

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}
  
@media (max-width: 284px) {
}

//NUCLEAR SECTION

.nuclearSection{
height: 100vh;
background-color: black;
padding-top: 10px;
}

.nuclearSection h1 {
text-align: center;
font-size: 5rem;
font-family: $titleFontFamily;
margin: 0px;
padding-top: 20px;
color: $backgroundColor;
}

.nuclearList{
width: 100%;
display: flex;
flex-direction: row;
margin: auto;
margin-top:30px;
}


.nuclearSection h2 {
font-family: $titleFontFamily;
text-align:center;
font-size: 3rem;
color: black;
// border:2px solid black;
}

.nuclearWrapper{
font-family: $bodyFontFamily;
background-color: white;
width: calc(100% - 20%);
margin:0px 20px 0px 20px;
border: 2px solid black;
padding-bottom:30px;
padding-bottom:20px;
        img {
        width:12rem;
        margin:auto;
        padding-bottom: 15px;
    }
}

.nuclearWrapper span {
font-weight: bold;
font-size: 1.5rem;
padding-bottom:20px;
text-align: center;
// width:100%;
}

.nuclearWrapper p{
display:flex;
flex-direction:column;
padding:30px;
text-align:center;

}

.nuclearWrapper2 {
text-align:center;
font-weight:bold;
background-color: white;
display: flex;
flex-direction: row;
    img {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    }
}

.nuclearList2 {
background-color: white;
margin:0px 20px 0px 20px;
padding-top:5px;
width: calc(100% - 20%);
    img {
    display: flex;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom:30px;
    }
}

.nuclearList2 h2{
font-family: $titleFontFamily;
text-align:center;
font-size: 3rem;
color:black;
}


//AlIEN SECTION

.alienSection{
height: 100vh;
background-color: lightblue;
padding-top: 10px;
}

.alienSection h1 {
text-align: center;
font-size: 5rem;
font-family: $titleFontFamily;
margin: 0px;
padding-top: 20px;
}

.alienSection h2 {
font-family: $titleFontFamily;
text-align:center;
font-size: 2rem;
}

.alienList{
width: 100%;
display: flex;
flex-direction: row;
margin: auto;
margin-bottom:20px;
margin-top:30px;
}

.alienWrapper{
flex-direction:column;
width: 100%;
justify-content:center;
padding: 50px 20px 50px 20px;
font-family: $bodyFontFamily;
background-color: orange;
margin-left: 10px;
margin-right: 10px;
border-radius: 5px;
    h3 {
         font-weight: bold; 
         font-size: 1.5rem;
         font-family: $bodyFontFamily;
         background-color: $backgroundColor;
         padding:10px;
         width: 40%;  
    }
}

.alienPack span {
    font-weight: bolder;
    font-size:1.6rem;
    background-color: #ff5050;
    padding:2px;
    border-radius: 2px;
}

.alienPack p{
        font-size:1.5rem;
}

.alienWrapper2 {
width:100%;
text-align:center;
padding: 50px 20px 50px 20px;
font-weight:bold;
background-color: orange;
margin-left: 10px;
margin-right: 10px;
border-radius: 5px;

    img {
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    }
}
//TRANSFORMATIONS

.back{
    position: absolute;
    top:0;
    right: 0;
    padding: 10px 20px 0px 20px;
        a {
        color:$backgroundColor;
        font-size: 1em;
        padding-top: 10px;
        text-decoration: none;
        font-family: $titleFontFamily;

        }
            a:hover{
            transform: scale(1);
            transition: all 0.3s;
            }
}


.monster {
transform: translateX(0);
transition: transform 0.2s;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width:40%;
font-weight: bold;
color:red;
}

.monster img{
// border: 2px solid green;
width:100%;
padding-top:20px;
}

.monster p{
    position: absolute;
    top:0;
    padding-top:10px;
}
.monster span{
    padding-right:2px;
    font-weight: bold;
}

// .isHit {
// transform: translateX(-50px);
// background-image:"/src/images/TKFight.png";
// }

.isHit {
transform: translateX(-50px);
color:red;
background-image:"/src/images/TKFight.png";
}

.congrats {
    @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
}

.movieListBox {
    width:30%;
    float:left;
}