@import 'partials/variables';


//ZOMBIE SECTION

.zombieSection{
height: 100vh;
background-color: orange;
padding-top: 20px;
// text-align: center
}

.zombieSection {


}

.zombieSection h1 {
text-align: center;
font-size: 60px;
font-family: $titleFontFamily;
}

.ZombieList{
width: 100%;
display: flex;
flex-direction: row;
margin: auto;
padding:20px;
}

.zombieWrapper{
display:flex;
flex-direction:column;
width: 100%;
// margin-right: 30px;
}


.zombieWrapper2 {
display:flex;
flex-direction:column;
}

.ZombieButton {
padding: 15px 15px;
border: 2px solid black;
background-color: white;
flex-direction: column;
justify-content: center;
text-align: center;
}

//ALIEN SECTION

.AlienList{
    text-align: left;
}

.AlienList h1 {
font-family: $titleFontFamily;
font-size:60px;
}

 .AlienList{  
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    // justify-content: center;
    align-items: center;
    background-color: lightblue;
 }



//NUCLEAR SECTION

.nuclearButton {
padding: 15px 15px;
border: 2px solid black;
background-color: white;
flex-direction: column;
justify-content: center;
text-align: center;
}

.nuclearList{   
    height: 100vh;
    background-color: pink;
    margin:0;
 }

.nuclearList h1 {
    margin-top: 0;
    padding-top:50px;
    text-align: center;
    font-size: 80px;
    font-family: $titleFontFamily;
}

.nuclearList {
    .monster  {
        border: 2px solid red;
        flex-direction: row;
    }
}

.nuclearParagraphs {
    border: 2px solid red;
}

.monster {
    transform: translateX(0);
    transition: transform 0.2s;
}

.monster img {
        float:left;
        width: 10%;
        margin: auto;

    }

.isHit {
   transform: translateX(-50px);
}