@import 'partials/variables';

.monster .pow{
width:20%;
position: absolute;
top: 30px;
left: 230px;
}

.monster img{
width:50%;
padding-top:100px;
border: 2px solid red;
}

.dougAnimated img{
border: 2px solid blue;

}

.monster {
	span{
		font-size:2rem;
		color: $backgroundColor;
		text-align:center;
		padding-top:70px;
	}

	p{
	font-size:20px;
	color:white;
	font-family: "Bangers", cursive;
	letter-spacing: 2px;
	width:100%;
	text-align:center;

	}
}
//ZOMBIE SECTION
.zombieFightSection{
height: 100vh;
background-color: black;
padding-top: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}



.ZombieFightButton {
padding: 20px;
font-size: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: $titleFontFamily;
border: 2px solid black;
background-color: white;
width:30%;
}

.ZombieFightButton:hover {
cursor: hand;
transform: scale(1.1);
transition: all 0.5s;
}

//NUCLEAR SECTION

.nuclearFightSection{
height: 100vh;
background-color: black;
padding-top: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.nuclearFightButton{
padding: 15px 0 15px 0;
display: flex;
font-size: 2rem;
flex-direction: column;
justify-content: center;
font-family: $titleFontFamily;
align-items: center;
border: 2px solid black;
background-color: white;
width:30%;
}

.nuclearFightButton:hover {
cursor: hand;
transform: scale(1.1);
transition: all 0.5s;
}

.nuclearButton {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
padding: 15px 15px;
font-size: 2rem;
border: 2px solid black;
background-color: white;
font-family: $titleFontFamily;
text-decoration: none;
margin-top:20px;
	p {
		text-align: center;
	}
	a {
		text-decoration: none;
	}
}

//ALIEN SECTION

.alienFightSection{
height: 100vh;
background-color: black;
padding-top: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.alienFightButton{
padding: 15px 0 15px 0;
display: flex;
font-size: 2rem;
flex-direction: column;
justify-content: center;
font-family: $titleFontFamily;
align-items: center;
border: 2px solid black;
background-color: white;
width:30%;
}

.alienButton {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
font-size: 2rem;
padding: 15px 15px;
border: 2px solid black;
background-color: white;
font-family: $titleFontFamily;
	p {
		text-align: center;
	}
}

.nuclearFightButton:hover {
cursor: hand;
transform: scale(1.1);
transition: all 0.5s;
}


.alienAnimated, .zombieAnimated, .nuclearAnimated {
	width:100%;
	display:flex;
	justify-content:center;
}

