@import 'partials/variables';


.zombieFightSection{
height: 100vh;
background-color: orange;
padding-top: 10px;
display: flex;
	
}
.ZombieButton2 {
padding: 15px 0 15px 0;
margin: auto;
border: 2px solid black;
background-color: white;
width:50%;
		p {
			text-align: center;
		}
	}

.ZombieFightButton{
padding: 15px 0 15px 0;
margin: auto;
border: 2px solid black;
background-color: white;
width:50%;

	}

.zombieAnimated {
	
}