@import 'partials/variables';

.titlePageIntro {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.titlePageIntro h1 {
	color: white;
	font-size: 6.5em;
	margin: 5px;
}

.titlePageDescription {
    text-align: center;
    color: white;
    margin: auto;
}

.titlePageIntro p {
	color: white;
	font-size: 1.5em;
	font-family: $bodyFontFamily;
	font-weight: bold;
}

.titlePageIntro button {
	width: 150px;
	padding: 12px 0 12px 0;
	border: 5px solid black;
	background-color: white; 
	font-size: 1.5em;
	border-radius: 7px;
}

.homePageIntro {
	color: orange;
	font-size: 5.5em;
	text-align: center;
}