@import 'partials/variables';

.titlePageIntro {
    height: 100vh;
    background-color: black;
    display: flex;
    // flex-direction: column;
}

.titlePageIntro h1 {
	color: white;
	font-size: 10em;
	margin-bottom: 2px;
}

.titlePageDescription {
    text-align: center;
    color: white;
    margin: auto;

}

.titlePageIntro  p{
	color: white;
	font-size: 1.5em;
	font-family: $bodyFontFamily;
	font-weight: bold;
	

}

.titlePageIntro	p:last-child {
	font-size: 0.75em;
	font-weight: normal;
	color: orange;
}

.homePageIntro {
	color: white;
	font-size: 2em;
	position: absolute;
	top:0;
	right: 0;
	padding:0px 20px 0px 20px;
}

label {
	font-size: 2em;
}

body {
	margin:0;
}