.titlePageIntro {
  height: 100vh;
  background-color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.titlePageDescription h1 {
  color: #ff5050;
  font-size: 10em;
  margin: 0px;
  font-family: "Bangers", cursive;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.titlePageDescription {
  text-align: center;
  color: white;
  margin: auto; }
  .titlePageDescription img {
    width: 10%; }
  .titlePageDescription img:hover {
    color: green; }

.titlePageIntro p {
  color: white;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold; }
  .titlePageIntro p .titlePageIntro p:last-child {
    color: white;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: bold; }

.homePageIntro {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px 0px 20px; }
  .homePageIntro a {
    color: #ff5050;
    font-size: 1em;
    padding-top: 10px;
    text-decoration: none;
    font-family: "Bangers", cursive; }
  .homePageIntro a:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all 0.3s; }

.titlePageDescription button {
  padding: 10px;
  border: 5px solid black;
  background-color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1em;
  width: 30%; }

.titlePageDescription button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s;
  margin: 0px; }

.alien {
  width: 10%; }

label {
  font-size: 2em; }

body {
  margin: 0; }

.zombieLogo2 img {
  width: 10%; }

.zombieSection {
  height: 100vh;
  background-color: orange;
  padding-top: 10px; }

.zombieSection h2 {
  font-family: "Bangers", cursive; }

.zombieSection h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Bangers", cursive;
  margin: 0px;
  padding: 0px; }

.ZombieList {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto; }

.zombieWrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  font-family: "Montserrat", sans-serif; }
  .zombieWrapper h3 {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    background-color: #ff5050;
    padding: 10px;
    width: 40%;
    border-radius: 5px; }

.zombieWrapper2 {
  width: 100%;
  text-align: center;
  font-weight: bold; }
  .zombieWrapper2 img {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.ZombieButton {
  padding: 15px 0 15px 0;
  margin-top: 50px;
  border: 2px solid black;
  background-color: white;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 50%; }

.ZombieButton2 {
  padding: 15px 0 15px 0;
  border: 2px solid black;
  background-color: white;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 20%; }

.AlienList {
  text-align: left; }

.AlienList h1 {
  font-family: "Bangers", cursive;
  font-size: 60px; }

.AlienList {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 20px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: lightblue; }

.nuclearButton {
  padding: 15px 15px;
  border: 2px solid black;
  background-color: white;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.nuclearList {
  height: 100vh;
  background-color: pink;
  margin: 0; }

.nuclearList h1 {
  margin-top: 0;
  padding-top: 50px;
  text-align: center;
  font-size: 80px;
  font-family: "Bangers", cursive; }

.nuclearList .monster {
  border: 2px solid red;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.nuclearParagraphs {
  border: 2px solid red; }

.monster {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }

.monster img {
  float: left;
  width: 20%;
  margin: auto; }

.isHit {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  color: red; }

.movieListBox {
  width: 30%;
  float: left; }

.zombieFightSection {
  height: 100vh;
  background-color: orange;
  padding-top: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.ZombieButton2 {
  padding: 15px 0 15px 0;
  margin: auto;
  border: 2px solid black;
  background-color: white;
  width: 50%; }
  .ZombieButton2 p {
    text-align: center; }

.ZombieFightButton {
  padding: 15px 0 15px 0;
  margin: auto;
  border: 2px solid black;
  background-color: white;
  width: 50%; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif; }
