@media (max-width: 940px) {
  .buttonHolder {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1rem; }
  .titlePageDescription h1 {
    font-size: 6rem; }
  .titlePageDescription button {
    font-size: 0.9rem;
    width: 50%; } }

/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media (max-width: 480px) {
  .zombieSection h1 {
    font-size: 3rem; }
  .alienSection h1 {
    font-size: 3rem; }
  .nuclearSection h1 {
    font-size: 3rem; }
  .ZombieList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .alienList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .nuclearList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .zombieWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    padding: 10px; }
  .alienWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto; }
  .nuclearWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto; }
  .nuclearWrapper span {
    font-size: 1.5rem;
    text-align: center; }
  .nuclearWrapper p {
    font-size: 0.9rem; }
  .alienWrapper span {
    font-size: 1.5rem;
    text-align: center; }
  .alienWrapper p {
    font-size: 0.9rem; }
  .zombieWrapper
span {
    font-size: 1.2rem;
    text-align: center; }
  p {
    font-size: 0.9rem; }
  .zombieWrapper h2 {
    font-size: 1.5rem; }
  .alienWrapper h2 {
    font-size: 1.3rem; }
  .nuclearWrapper h2 {
    font-size: 1.3rem; }
  .zombieWrapper2 h2 {
    font-size: 1.3rem; }
  .alienWrapper2 h2 {
    font-size: 1.3rem; }
  .nuclearWrapper2 h2 {
    font-size: 1.3rem; }
  .zombieWrapper2 {
    margin-top: 10px;
    padding: 10px; }
  .nuclearWrapper2 {
    margin-top: 10px; }
  .alienWrapper2 {
    margin-top: 10px; }
  .ZombieButton2 {
    width: 90%;
    padding: 5px;
    font-size: 1rem; }
  .alienButton {
    padding: 0; } }

@media (max-width: 940px) {
  .buttonHolder {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1rem; }
  .titlePageDescription h1 {
    font-size: 6rem; }
  .titlePageDescription button {
    font-size: 0.9rem;
    width: 50%; } }

/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media (max-width: 480px) {
  .zombieSection h1 {
    font-size: 3rem; }
  .alienSection h1 {
    font-size: 3rem; }
  .nuclearSection h1 {
    font-size: 3rem; }
  .ZombieList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .alienList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .nuclearList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .zombieWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    padding: 10px; }
  .alienWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto; }
  .nuclearWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto; }
  .nuclearWrapper span {
    font-size: 1.5rem;
    text-align: center; }
  .nuclearWrapper p {
    font-size: 0.9rem; }
  .alienWrapper span {
    font-size: 1.5rem;
    text-align: center; }
  .alienWrapper p {
    font-size: 0.9rem; }
  .zombieWrapper
span {
    font-size: 1.2rem;
    text-align: center; }
  p {
    font-size: 0.9rem; }
  .zombieWrapper h2 {
    font-size: 1.5rem; }
  .alienWrapper h2 {
    font-size: 1.3rem; }
  .nuclearWrapper h2 {
    font-size: 1.3rem; }
  .zombieWrapper2 h2 {
    font-size: 1.3rem; }
  .alienWrapper2 h2 {
    font-size: 1.3rem; }
  .nuclearWrapper2 h2 {
    font-size: 1.3rem; }
  .zombieWrapper2 {
    margin-top: 10px;
    padding: 10px; }
  .nuclearWrapper2 {
    margin-top: 10px; }
  .alienWrapper2 {
    margin-top: 10px; }
  .ZombieButton2 {
    width: 90%;
    padding: 5px;
    font-size: 1rem; }
  .alienButton {
    padding: 0; } }

.titlePageIntro {
  height: 100vh;
  background-color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.titlePageDescription h1 {
  color: #ff5050;
  font-size: 10rem;
  margin: 0px;
  font-family: "Bangers", cursive;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.titlePageDescription {
  text-align: center;
  color: white;
  margin: auto; }
  .titlePageDescription .titleImage {
    width: 15%; }
  .titlePageDescription .titleImageZombie {
    width: 14%; }

.titlePageIntro p {
  color: white;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 0px 30px 0px 30px; }
  .titlePageIntro p .titlePageIntro p:last-child {
    color: white;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: bold; }

.homePageIntro {
  color: white;
  position: absolute;
  font-size: 2rem;
  top: 0;
  right: 0;
  padding: 10px 20px 0px 20px; }
  .homePageIntro a {
    color: #ff5050;
    font-size: 1em;
    padding-top: 10px;
    text-decoration: none;
    font-family: "Bangers", cursive; }
  .homePageIntro a:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all 0.3s; }

.titlePageDescription button {
  padding: 15px;
  border: 5px solid black;
  background-color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.5em;
  width: 30%; }

.titlePageDescription button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s;
  margin: 0px; }

.titlePageDescription img:hover {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px); }

.alien {
  width: 10%; }

label {
  font-size: 2em; }

body {
  margin: 0; }

@media (max-width: 940px) {
  .buttonHolder {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1rem; }
  .titlePageDescription h1 {
    font-size: 6rem; }
  .titlePageDescription button {
    font-size: 0.9rem;
    width: 50%; } }

/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media (max-width: 480px) {
  .zombieSection h1 {
    font-size: 3rem; }
  .alienSection h1 {
    font-size: 3rem; }
  .nuclearSection h1 {
    font-size: 3rem; }
  .ZombieList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .alienList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .nuclearList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .zombieWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    padding: 10px; }
  .alienWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto; }
  .nuclearWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto; }
  .nuclearWrapper span {
    font-size: 1.5rem;
    text-align: center; }
  .nuclearWrapper p {
    font-size: 0.9rem; }
  .alienWrapper span {
    font-size: 1.5rem;
    text-align: center; }
  .alienWrapper p {
    font-size: 0.9rem; }
  .zombieWrapper
span {
    font-size: 1.2rem;
    text-align: center; }
  p {
    font-size: 0.9rem; }
  .zombieWrapper h2 {
    font-size: 1.5rem; }
  .alienWrapper h2 {
    font-size: 1.3rem; }
  .nuclearWrapper h2 {
    font-size: 1.3rem; }
  .zombieWrapper2 h2 {
    font-size: 1.3rem; }
  .alienWrapper2 h2 {
    font-size: 1.3rem; }
  .nuclearWrapper2 h2 {
    font-size: 1.3rem; }
  .zombieWrapper2 {
    margin-top: 10px;
    padding: 10px; }
  .nuclearWrapper2 {
    margin-top: 10px; }
  .alienWrapper2 {
    margin-top: 10px; }
  .ZombieButton2 {
    width: 90%;
    padding: 5px;
    font-size: 1rem; }
  .alienButton {
    padding: 0; } }

.zombieLogo2 img {
  width: 10%; }

.zombieSection {
  height: 100vh;
  background-color: black;
  padding-top: 10px; }

.zombieSection h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Bangers", cursive;
  margin: 0px;
  padding-top: 20px;
  color: #ff5050; }

.zombieList {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  margin-top: 30px; }

.zombieWrapper h2 {
  font-family: "Bangers", cursive;
  text-align: center;
  font-size: 3rem;
  color: black; }

.zombieWrapper {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  width: calc(100% - 20%);
  margin: 0px 20px 0px 20px;
  border: 2px solid black;
  padding-bottom: 30px;
  padding-bottom: 20px; }
  .zombieWrapper img {
    width: 12rem;
    margin: auto; }

.zombieWrapper span {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 20px; }

.zombieWrapper p {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px; }

.zombieWrapper2 {
  text-align: center;
  font-weight: bold;
  background-color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .zombieWrapper2 img {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.ZombieButton {
  border: 2px solid black;
  background-color: lightpink;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
  margin: auto; }

.zombieList2 {
  background-color: white;
  margin: 0px 20px 0px 20px;
  padding-top: 5px;
  width: calc(100% - 20%); }
  .zombieList2 img {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 30px; }

.zombieList2 h2 {
  font-family: "Bangers", cursive;
  text-align: center;
  font-size: 3rem;
  color: black; }

.ZombieButton2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  padding: 15px 15px;
  font-size: 2rem;
  border: 2px solid black;
  font-family: 'Bangers', cursive;
  background-color: white;
  margin-top: 20px; }
  .ZombieButton2 p {
    text-align: center; }

.nuclearSection {
  height: 100vh;
  background-color: black;
  padding-top: 10px; }

.nuclearSection h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Bangers", cursive;
  margin: 0px;
  padding-top: 20px;
  color: #ff5050; }

.nuclearList {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  margin-top: 30px; }

.nuclearSection h2 {
  font-family: "Bangers", cursive;
  text-align: center;
  font-size: 3rem;
  color: black; }

.nuclearWrapper {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  width: calc(100% - 20%);
  margin: 0px 20px 0px 20px;
  border: 2px solid black;
  padding-bottom: 30px;
  padding-bottom: 20px; }
  .nuclearWrapper img {
    width: 12rem;
    margin: auto;
    padding-bottom: 15px; }

.nuclearWrapper span {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 20px; }

.nuclearWrapper p {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px; }

.nuclearWrapper2 {
  text-align: center;
  font-weight: bold;
  background-color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .nuclearWrapper2 img {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.nuclearList2 {
  background-color: white;
  margin: 0px 20px 0px 20px;
  padding-top: 5px;
  width: calc(100% - 20%); }
  .nuclearList2 img {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 30px; }

.nuclearList2 h2 {
  font-family: "Bangers", cursive;
  text-align: center;
  font-size: 3rem;
  color: black; }

.alienSection {
  height: 100vh;
  background-color: lightblue;
  padding-top: 10px; }

.alienSection h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Bangers", cursive;
  margin: 0px;
  padding-top: 20px; }

.alienSection h2 {
  font-family: "Bangers", cursive;
  text-align: center;
  font-size: 2rem; }

.alienList {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px; }

.alienWrapper {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 20px 50px 20px;
  font-family: "Montserrat", sans-serif;
  background-color: orange;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px; }
  .alienWrapper h3 {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    background-color: #ff5050;
    padding: 10px;
    width: 40%; }

.alienPack span {
  font-weight: bolder;
  font-size: 1.6rem;
  background-color: #ff5050;
  padding: 2px;
  border-radius: 2px; }

.alienPack p {
  font-size: 1.5rem; }

.alienWrapper2 {
  width: 100%;
  text-align: center;
  padding: 50px 20px 50px 20px;
  font-weight: bold;
  background-color: orange;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px; }
  .alienWrapper2 img {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.back {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px 0px 20px; }
  .back a {
    color: #ff5050;
    font-size: 1em;
    padding-top: 10px;
    text-decoration: none;
    font-family: "Bangers", cursive; }
  .back a:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all 0.3s; }

.monster {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
  font-weight: bold;
  color: red; }

.monster img {
  width: 100%;
  padding-top: 20px; }

.monster p {
  position: absolute;
  top: 0;
  padding-top: 10px; }

.monster span {
  padding-right: 2px;
  font-weight: bold; }

.isHit {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px); }

.isHit {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  color: red; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.movieListBox {
  width: 30%;
  float: left; }

@media (max-width: 940px) {
  .buttonHolder {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1rem; }
  .titlePageDescription h1 {
    font-size: 6rem; }
  .titlePageDescription button {
    font-size: 0.9rem;
    width: 50%; } }

/* Landscape phone to portrait tablet */
/* Landscape phones and down */
@media (max-width: 480px) {
  .zombieSection h1 {
    font-size: 3rem; }
  .alienSection h1 {
    font-size: 3rem; }
  .nuclearSection h1 {
    font-size: 3rem; }
  .ZombieList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .alienList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .nuclearList {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    font-size: 1rem;
    margin-top: 5px; }
  .zombieWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    padding: 10px; }
  .alienWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto; }
  .nuclearWrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto; }
  .nuclearWrapper span {
    font-size: 1.5rem;
    text-align: center; }
  .nuclearWrapper p {
    font-size: 0.9rem; }
  .alienWrapper span {
    font-size: 1.5rem;
    text-align: center; }
  .alienWrapper p {
    font-size: 0.9rem; }
  .zombieWrapper
span {
    font-size: 1.2rem;
    text-align: center; }
  p {
    font-size: 0.9rem; }
  .zombieWrapper h2 {
    font-size: 1.5rem; }
  .alienWrapper h2 {
    font-size: 1.3rem; }
  .nuclearWrapper h2 {
    font-size: 1.3rem; }
  .zombieWrapper2 h2 {
    font-size: 1.3rem; }
  .alienWrapper2 h2 {
    font-size: 1.3rem; }
  .nuclearWrapper2 h2 {
    font-size: 1.3rem; }
  .zombieWrapper2 {
    margin-top: 10px;
    padding: 10px; }
  .nuclearWrapper2 {
    margin-top: 10px; }
  .alienWrapper2 {
    margin-top: 10px; }
  .ZombieButton2 {
    width: 90%;
    padding: 5px;
    font-size: 1rem; }
  .alienButton {
    padding: 0; } }

.zombieFightSection {
  height: 100vh;
  background-color: black;
  padding-top: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.ZombieFightButton {
  padding: 20px;
  font-size: 2rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Bangers", cursive;
  border: 2px solid black;
  background-color: white;
  width: 30%; }

.ZombieFightButton:hover {
  cursor: hand;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s; }

.nuclearFightSection {
  height: 100vh;
  background-color: black;
  padding-top: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.nuclearFightButton {
  padding: 15px 0 15px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Bangers", cursive;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
  width: 30%; }

.nuclearFightButton:hover {
  cursor: hand;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s; }

.nuclearButton {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  padding: 15px 15px;
  font-size: 2rem;
  border: 2px solid black;
  background-color: white;
  font-family: "Bangers", cursive;
  text-decoration: none;
  margin-top: 20px; }
  .nuclearButton p {
    text-align: center; }
  .nuclearButton a {
    text-decoration: none; }

.alienFightSection {
  height: 100vh;
  background-color: black;
  padding-top: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.alienFightButton {
  padding: 15px 0 15px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Bangers", cursive;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
  width: 30%; }

.alienButton {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  font-size: 2rem;
  padding: 15px 15px;
  border: 2px solid black;
  background-color: white;
  font-family: "Bangers", cursive; }
  .alienButton p {
    text-align: center; }

.nuclearFightButton:hover {
  cursor: hand;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s; }

.alienAnimated, .zombieAnimated, .nuclearAnimated {
  width: 80%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif; }
